@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Inconsolata');

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 1.2em;
    background-color: #dadada;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Inconsolata', monospace;
}

.social {
    padding-left: 0.4em;
    padding-right: 0.4em;
}
