@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Inconsolata');

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    padding: 1.2em;
    background-color: #dadada;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Inconsolata', monospace;
}

h1::before, h2::before { 
    content: "~";
    color: #f77802;
    font-size: larger;
    margin-right: 0.4em;
}

h1::after {
    content: "~";
    color: #f77802;
    font-size: larger;
    margin-left: 0.4em;
}

.social {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

img.headerimg {
    width: 100%;
}

div.headerimg {
    overflow: hidden;
    height: 90px;
    width: 100%
}

.social {
    display: block !important;
    clear: both !important;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

header {
    text-align: center;
}

nav {
    margin-top: 2%;
    margin-bottom: 2%;
}
